#who_is {
    color:blue;
    font-size: 4.7em;
    transition: 1.5s;
    text-decoration: none;
}
#who_is:hover{
    color:black;
    text-decoration: none;
    font-size: 5em;
    transition: 1.5s;
}
.index_content{
    font-size: 1em;
    transition: 1.5s;
}
.index_content:hover{
    font-size: 1.8em;
}
#michigan{
    transition: 2s;
}
#michigan:hover{
    color:yellow;
    background-color: blue;
    transition: 2s;
    font-weight: 600;
}
#magna{
    transition: 2s;
}
#magna:hover{
    background-color: black;
    color:red;
    transition: 2s;
    font-weight: 600;
}
.delay{
    transition:0.6s;
}
.contact{
    justify-content: center;
}
#index_image{
    width:10em;
    height:17em;
    padding-bottom: 1em;
}
button{
    border:none;

}
footer{
    display:flex;
    align-items: center;
    display: flex; 
    justify-content: center;
}
#contact-link{
    font-size:2em;
    font-weight:bold;
    background-color:black;
    border-radius: 25px;
    padding: 0.5em 1em 0.5em 1em;
    transition-duration: 500ms;
}
#contact-link:hover{
    padding: 0.6em 1em 0.6em 1em;
    font-size:2.3em;
    transition-duration: 500ms;
}
body{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,255,255,0.40242034313725494) 100%);
}
@media (max-width:320px){
    #who_is{
        font-size: 3em;
    }
    #who_is:hover{
        color:black;
        text-decoration: none;
        font-size: 4em;
        transition: 1.5s;
    }
}
@media (max-width:390px){
    #who_is{
        font-size: 3.5em;
    }
    #who_is:hover{
        color:black;
        text-decoration: none;
        font-size: 4.5em;
        transition: 1.5s;
    }
}
@media (max-width:414px){
    #who_is{
        font-size: 4em;
    }
    #who_is:hover{
        color:black;
        text-decoration: none;
        font-size: 4.5em;
        transition: 1.5s;
    }
}