.header-bg{
    background-color:red !important;
}
.project_content{
    font-size:1em;
}
.project_name{
    font-weight:bold;
}
.project_link{

}
.project_header{
    font-weight:bold;
    text-decoration:underline;
}